* {
    margin: 0;
    font-family: Poppins;
}

body {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    overflow-x: hidden;
}

.main {
    width: 1024px;
    height: auto;
}

a {
    color: #41434C;
}

.navbar {
    height: 72px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 4px 9px -9px rgba(0, 0, 0, 0.2);
}

.navright {
    padding-top: 16px;
    padding-left: 24px;
}

.navlogo {
    height: 40px;
    width: 92.88px;
}

.headerfirstline {
    height: 23px;
    width: 224px;
    font-size: 16px;
    line-height: 25px;
    font-weight: bold;
    opacity: 0.87;
}

.headersecondline {
    height: 24px;
    width: 108px;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.87;
    float: right;
    padding-right: 24.5px;
}
.firstsectionparent {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.rightlogofirstsection {
    padding-right: 10%;
}
.brandname{
    font-size: 24px;
    line-height: 35px;
    color: #41434C;
    font-weight: bold;
    padding-left: 10px;
}
.Brandlogo {
    height: 60px;
    width: auto;
    padding-right: 24px;
    padding-top: 37px;
}
.navleft {
    padding-top: 14px;
    padding-right: 24px;
}

.firstsectionh1 {
    height: 33px;
    width: 142px;
    color: #41434C;
    font-size: 24px;
    font-weight: bold;
    line-height: 35px;
    padding-top: 43px;
    text-align: left;
    padding-left: 24px;
}

.firstsectionh2 {
    height: 52px;
    width: 552px;
    font-size: 16px;
    line-height: 26px;
    padding-top: 5px;
    padding-left: 24px;
}

.trucklogo {
    height: 45px;
    width: 55px;
}

}

.secondsectionlefth2 {}

.secondsectionlefth1 {
    height: 45px;
    width: 43px;
    color: #41434C;
    font-family: Poppins;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.24px;
    line-height: 48px;
}

.secondsectionlefth2 {
    height: 25px;
    width: 89px;
    font-size: 16px;
    line-height: 25px;
    padding-top: 4px;
    padding-bottom: 10px;
}

.secondsectioninnerbox {
    display: flex;
    height: 25px;
    width: 75px;
    justify-content: space-between;
    align-items: baseline;
}

.trucktext {
    display: flex
}

.trucktext1 {
    color: #41434C;
    font-family: Poppins;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.24px;
    line-height: 48px;
}

.truckarrow {
    display: flex;
    position: absolute;
    padding-top: 6%;
}

.mainparenttruck {
    display: flex;
    margin: 0 auto;
    width: 570px;
    border: 1px solid #D7D7D7;
    justify-content: space-between;
    max-height: 325px;
    height: 325px;
}

.textandarrow {
    display: block;
}

.unikettparent {
    display: flex;
    padding-top: 33%;
}

.trucktext2 {
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
}

.truckarrowtext {
    height: 25px;
    width: 46px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
}

.leftblock {
    display: flex;
    width: 168px;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 10%;
}

.secondsectioninnerbox2 {
    display: flex;
    height: 25px;
    width: 75px;
    justify-content: space-between;
}

.leftdottedline {
    width: 236px;
    height: 139px;
    border-bottom: 1px dashed #D7D7D7;
    margin-left: 5%;
}

.rightdottedline {
    width: 236px;
    height: 140px;
    border-bottom: 1px dashed #D7D7D7;
    margin-right: 5%;
}

.up {
    height: 8px;
    width: 15px;
}

img.wallet {
    height: 8px;
    width: 15px;
}

.uptextbox {
    height: 25px;
    width: 46px;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
}

.secondsectioncontainerone {
    display: flex;
    height: 109px;
    width: 168px;
    justify-content: space-between;
    padding-top: 19px;
    padding-left: 4px;
}

.secondsectioncontainertwo {
    display: flex;
    height: 109px;
    width: 168px;
    justify-content: space-between;
    padding-top: 19px;
    padding-left: 1px;
}

.secondsection {
    box-sizing: border-box;
    height: 325px;
    width: 570px;
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.walletlogo {
    height: 53px;
    width: 48px;
    padding-right: 24px;
}

.secondsectionrighthead {
    font-size: 16px;
}

.secondsectionrighthead {
    width: 8px;
    color: #41434C;
    font-family: "Rupee Foradian";
    font-size: 16px;
    line-height: 19px;
    padding-top: 17%;
}

.secondsectionrighth2 {
    height: 45px;
    width: 105px;
    color: #41434C;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.24px;
    line-height: 48px;
}

.secondsectionrighth3 {
    height: 25px;
    width: 113px;
    color: #41434C;
    font-size: 16px;
    line-height: 25px;
}

.downtextbox {
    height: 25px;
    width: 38px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    line-height: 25px;
}

img.up {
    height: 8px;
    width: 15px;
}

.rupeesymbol {
    display: flex;
    justify-content: space-between;
    width: 117;
}

.uniketparent {
    display: flex;
    justify-content: space-between;
    width: 73px;
    margin-left: 13px;
    margin-top: 2%;
}

.differentchannelleft {
    display: flex;
    margin-top: 25px;
}

.uniketordercount {
    height: 23px;
    width: 16px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.12px;
    line-height: 25px;
}

.uniketordertext {
    height: 25px;
    width: 54px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
}

img.fyndbrandlogo {
    height: 32px;
    width: 32px;
}

.fyndordercount {
    height: 23px;
    width: 20px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.12px;
    line-height: 25px;
}

.fyndordertext {
    height: 25px;
    width: 54px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
}

img.myntra {
    height: 32px;
    width: 32px;
}

.myntraordercount {
    height: 23px;
    width: 17px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.12px;
    line-height: 25px;
}

.myntraordertext {
    height: 25px;
    width: 54px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
}

.differentchannelleftsecond {
    display: flex;
    margin-top: 23px;
}

.fyndbrandlogoparent {
    display: flex;
    justify-content: space-between;
    width: 76px;
    margin-left: 13px;
    margin-top: 2%;
}

.differentchannelleftthird {
    display: flex;
    margin-top: 23px;
}

.myntraparent {
    display: flex;
    margin-left: 13px;
    margin-top: 2%;
}

.containers-alignment {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    width: 550px;
    padding: 10px;
}

.firstsection {
    padding-bottom: 25px;
}

.parentrightsection {
    padding-right: 25%;
}

.brandlogosection {
    padding-left: 3%;
}

.thirdsection {
    box-sizing: border-box;
    height: 48px;
    width: 570px;
    border: 1px solid #D7D7D7;
    border-left: 4px solid #00C853;
    border-radius: 3px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 12px;
}

img.tick {
    height: 32px;
    width: 32px;
}

.thirdimagetext {
    display: flex;
    padding-left: 24px;
    padding-top: 8px;
    width: 337px;
}

.divthirdtext {
    padding-top: 4px;
        padding-left: 10px;
}

.forthsectionh1 {
    height: 45px;
    width: 73px;
    color: #41434C;
    font-family: Poppins;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.24px;
    line-height: 48px;
    padding-top: 11px;
}

.forthsectionh2 {
    height: 24.6px;
    width: 209px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
    padding-top: 6px;
}

.forthsectionh3 {
    height: 23px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.12px;
    line-height: 25px;
}

.forthsectionh4 {
    height: 25px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
    padding-left: 4px;
}

.forthsectionh5 {
    height: 23px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.12px;
    line-height: 25px;
}

.forthsectionh6 {
    height: 25px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
    padding-left: 4px;
}

.forthsectionh11 {
    height: 45px;
    width: 73px;
    color: #41434C;
    font-family: Poppins;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0.24px;
    line-height: 48px;
    padding-top: 11px;
}

.forthsectionh12 {
    height: 24.6px;
    width: 209px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
    padding-top: 12px;
}

.forthsectionh13 {
    height: 23px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.12px;
    line-height: 25px;
}

.forthsectionh14 {
    height: 25px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
    padding-left: 4px;
}

.forthsectionh15 {
    height: 23px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.12px;
    line-height: 25px;
}

.forthsectionh16 {
    height: 25px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
    padding-left: 4px;
}

.liveinventorycombine {
    display: flex;
    padding-top: 17px;
}

.liveinventorycombine1 {
    display: flex;
    padding-top: 10px;
}

.liveinventorycombine2 {
    display: flex;
    padding-top: 10px;
}

.liveinventorycombine3 {
    display: flex;
    padding-top: 10px;
}

.forthsection {
    display: flex;
    justify-content: space-between;
    width: 570px;
    margin: 0 auto;
    margin-top: 12px;
    border: 1px solid #D7D7D7;
    border-radius: 3px;
    height: 219px;
}

.forthsectionleft {
    padding-left: 24px;
}

.forthsectionright {
    padding-right: 44px;
}

.fifthsection {
    display: flex;
    margin: 0 auto;
    width: 569px;
}

.fifthsectionh1 {
    height: 23px;
    width: 100%;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.12px;
    line-height: 25px;
    padding-top: 25px;
    padding-left: 11px;
}

img.highlight {
    height: 29px;
    width: 40px;
    padding-top: 24px;
}

.sixthsection {
    box-sizing: border-box;
    height: 48px;
    width: 570px;
    background-color: #FAFAFA;
    margin: 0 auto;
    margin-top: 12px;
}

.sixthtextone {
    display: flex;
}

.header-color {
    color: #A0A0A0;
}

.seventhsection {
    box-sizing: border-box;
    height: 48px;
    width: 570px;
    margin: 0 auto;
    border: 1px solid #D7D7D7;
    border-radius: 4px 4px 0px 0px;
    background-color: #FFFFFF;
}

.seventhtextone {
    display: flex;
}

.seventhtextright {
    flex: 1;
    height: 20px;
    width: 47px;
    color: #41434C;
    font-size: 14px;
    text-align: right;
    font-weight: 500;
    line-height: 20px;
    padding: 15px;
    text-align: center;
}

.eightsection {
    box-sizing: border-box;
    width: 570px;
    margin: 0 auto;
    border: 1px solid #D7D7D7;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
}

.eighttextone {
    display: flex;
}

.eighttextleft {
    flex: 1;
    height: 20px;
    width: 34px;
    color: #41434C;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 14px;
    padding-left: 24px;
}

.eighttextmiddle {
    flex: 1;
    height: 20px;
    width: 47px;
    color: #41434C;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 14px;
    padding-left: 24px;
}

.eighttextright {
    flex: 1;
    height: 30px;
    width: 47px;
    color: #41434C;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding-top: 14px;
    padding-left: 24px;
}

.ninthtextright {
    flex: 1;
    padding-top: 14px;
    padding-left: 24px;
    width: 454px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
}

.ninthtextrighth2 {
    flex: 1;
    padding-left: 24px;
    width: 454px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
}

.eighth1h2 {
    display: block;
}

.ninthsection {
    box-sizing: border-box;
    height: 78px;
    width: 570px;
    margin: 0 auto;
    border: 1px solid #D7D7D7;
    border-radius: 4px 4px 0px 0px;
    background-color: #FFFFFF;
    margin-top: 15px;
}

.eighttextone {
    display: flex;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #5C6BDD;
    border-radius: 50%;
    display: inline-block;
    margin-top: 19px;
    margin-left: 24px;
}

.eighttextrighth2 {
    padding-left: 24px;
}

.ninthtextone {
    display: flex;
}

.tenthsection {
    box-sizing: border-box;
    height: 78px;
    width: 570px;
    margin: 0 auto;
    border: 1px solid #D7D7D7;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    border-top: none;
}

.tenthtextone {
    display: flex;
}

.navbarparent {
    height: 78px;
    width: 570px;
    margin: 0 auto;
    margin-top: 24px;
}

.followus {
    display: flex;
    justify-content: center;
    font-weight: bold;
    color: #BCBCBC;
    font-size: 12px;
}

.navimageflex {
    display: flex;
    justify-content: center;
}

.navimage {
    height: 40px;
    width: 40px;
    padding: 2;
}

.address {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #BCBCBC;
    font-size: 12px;
    margin-top: 5px;
}

.address1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #BCBCBC;
    font-size: 12px;
}

.privacy1 {
    display: flex;
    color: #BCBCBC;
    font-size: 10px;
    padding: 2;
}

.privacy:hover {
    color: #5C6BDD;
    cursor: pointer;
    text-decoration: underline;
}

.privacy2 {
    display: flex;
    color: #BCBCBC;
    font-size: 10px;
    padding: 2;
}

.privacy3 {
    display: flex;
    color: #BCBCBC;
    font-size: 10px;
    padding: 2;
}

.privacyline {
    display: flex;
    text-align: center;
    justify-content: center;
}

.thisemail {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #BCBCBC;
    font-size: 10px;
}

.unsubscribeparent {
    display: flex;
    justify-content: center;
    text-align: center;
}

.unsubscribechild1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #BCBCBC;
    font-size: 10px;
    text-decoration: underline;
}

.unsubscribechild2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #BCBCBC;
    font-size: 10px;
    padding-left: 5px;
}

@media only screen and (max-width: 768px) {
    .rightlogofirstsection {
    padding-right: 0%;
}
    .firstsectionh1 {
        height: 33px;
        width: 100%;
        color: #41434C;
        font-size: 20px;
        font-weight: bold;
        line-height: 35px;
        padding-top: 43px;
        text-align: left;
        padding-left: 0px;
    }
    .firstsectionh2 {
        height: 52px;
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        padding-top: 5px;
        padding-left: 0px;
    }
    img.highlight {
        height: 29px;
        width: 40px;
        padding-top: 24px;
        padding-left: 5%;
    }
    .sixthsection {
        box-sizing: border-box;
        height: 48px;
        width: 95%;
        background-color: #FAFAFA;
        margin: 0 auto;
        margin-top: 12px;

    }
    .seventhsection {
        box-sizing: border-box;
        height: 48px;
        width: 95%;
        margin: 0 auto;
        border: 1px solid #D7D7D7;
        border-radius: 4px 4px 0px 0px;
        background-color: #FFFFFF;

    }
    .eightsection {
        box-sizing: border-box;
        width: 95%;
        margin: 0 auto;
        border: 1px solid #D7D7D7;
        border-radius: 0px 0px 4px 4px;
        background-color: #FFFFFF;
        border-top: none;

    }
  .ninthsection {
    box-sizing: border-box;
    height: 78px;
    width: 95%;
    margin: 0 auto;
    border: 1px solid #D7D7D7;
    border-radius: 4px 4px 0px 0px;
    background-color: #FFFFFF;
    margin-top: 15px;
    justify-content: center;
    display: flex;
}
  .tenthsection {
    box-sizing: border-box;
    height: 78px;
    width: 95%;
    margin: 0 auto;
    border: 1px solid #D7D7D7;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    border-top: none;
    display: flex;
    justify-content: center;
}
    .forthsection {
        display: block;
        justify-content: space-between;
        width: 95%;
        margin: 0 auto;
        margin-top: 12px;
        border: 1px solid #D7D7D7;
        border-radius: 3px;
        height: 219px;
        height: 408px;
    }
    .thirdsection {
        box-sizing: border-box;
        height: 48px;
        width: 95%;
        border: 1px solid #D7D7D7;
        border-left: 4px solid #00C853;
        border-radius: 3px;
        background-color: #FFFFFF;
        margin: 0 auto;
        margin-top: 12px;
    }
    .secondsection {
        box-sizing: border-box;
        height: 325px;
        width: 95%;
        border: 1px solid #D7D7D7;
        border-radius: 3px;
        background-color: #FFFFFF;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .parentrightsection {
        padding-right: 8%;
    }
    .navleft {
        padding-top: 14px;
        padding-right: 6px;
    }
    .headersecondline {
        height: 24px;
        width: 100%;
        font-size: 14px;
        line-height: 24px;
        opacity: 0.87;
        float: right;
        padding-right: 0px;
    }
    .headerfirstline {
        height: 23px;
        width: 100%;
        font-size: 16px;
        line-height: 25px;
        font-weight: bold;
        opacity: 0.87;
        padding-right: 0px;
    }
    .eighttextright {
        flex: 1;
        padding-top: 14px;
        width: 100%;
        color: #41434C;
        font-family: Poppins;
        font-size: 14px;
        line-height: 25px;
        padding-right: 0px;
    }
    .eighttextrighth2 {
        padding-left: 0px;
    }
    .dot {
    height: 12px;
    width: 18px;
    background-color: #5C6BDD;
    border-radius: 50%;
    display: inline-block;
    margin-top: 19px;
    margin-left: 5px;
    margin-right: 6px;
}
   .followus {
    font-weight: bold;
    color: #BCBCBC;
    font-size: 12px;
    display: block;
    text-align: center;
    display: flex;
}
   .navimageflex {
    display: flex;
    justify-content: center;
    align-items: center;
}
    .address {
        display: block;
        justify-content: center;
        text-align: center;
        color: #BCBCBC;
        font-size: 12px;
        margin-top: 5px;
        width: 100%;
    }
    .address1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #BCBCBC;
    font-size: 12px;
}
   .privacyline {
    display: flex;
    text-align: center;
    justify-content: center;
}
   .thisemail {
    display: flex;
    text-align: left;
    color: #BCBCBC;
    font-size: 10px;
    width: 100%;
    text-align: center;
}
    .unsubscribeparent {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 5%;
}
    .thirdimagetext {
        display: flex;
        padding-left: 0px;
        padding-top: 8px;
        width: 100%;
    }
 .ninthtextright {
    flex: 1;
    padding-top: 14px;
    padding-left: 0px;
    width: 100%;
    color: #41434C;
    /* font-family: Poppins; */
    font-size: 16px;
    line-height: 25px;
    /* max-width: 320px; */
}
    .forthsectionh1 {
        height: 45px;
        width: 100%;
        color: #41434C;
        font-family: Poppins;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.24px;
        line-height: 48px;
        padding-top: 11px;
    }
    .forthsectionh2 {
        height: 24.6px;
        width: 100%;
        color: #41434C;
        font-family: Poppins;
        font-size: 16px;
        line-height: 25px;
        padding-top: 6px;
    }
    .forthsectionh11 {
        height: 45px;
        width: 95%;
        color: #41434C;
        font-family: Poppins;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 0.24px;
        line-height: 40px;
        padding-top: 11px;
        padding-left: 24px;
    }
   .forthsectionright {
    border-top: 1px solid #D7D7D7;
    margin-top: 6%;
    width: 100%;
    padding-right: 0px;
}
    .divthirdtext {
    padding-top: 4px;
    padding-right: 2%;
    padding-left: 2%;
}
.brandlogosection {
    padding-left: 6%;
}
.containers-alignment {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
  width: 100%;
    padding: 0px;
    padding-bottom: 19px;
}
.secondsectionlefth1 {
    height: 45px;
    width: 100%;
    color: #41434C;
    font-family: Poppins;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.24px;
    line-height: 48px;
}
.secondsectioncontainerone {
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    width: 100%;
        margin-left: -6px;
    
}
.walletlogo {
    height: 53px;
    width: 48px;
        padding-right: 10px;
    padding-left: 20px;
}


.secondsectionrighth2 {
    height: 45px;
    width: 100%;
    color: #41434C;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0.24px;
    line-height: 48px;
}
.secondsectioncontainertwo {
    display: flex;
    height: 109px;
    justify-content: space-between;
    padding-top: 19px;
    padding-left: 1px;
    width: 100%;
}
.secondsectionrighth3 {
    height: 25px;
    width: 100%;
    color: #41434C;
    font-size: 14px;
    line-height: 25px;
}
.secondsectionlefth2 {
    height: 25px;
    width: 100%;
    font-size: 14px;
    line-height: 25px;
    padding-top: 4px;
    padding-bottom: 10px;
}
.rightdottedline {
    width: 100%;
    height: 140px;
    border-bottom: 1px dashed #D7D7D7;
    margin-right: 5%;
}
.forthsectionh12 {
    height: 24.6px;
    width: 95%;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    line-height: 25px;
    padding-top: 12px;
    padding-left: 24px;
}
.fifthsection {
    display: flex;
    margin: 0 auto;
    width: 100%;
}
.navbarparent {
    height: 78px;
    width: 100%;
    margin: 0 auto;
    margin-top: 24px;
}
.unsubscribechild1 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #BCBCBC;
    font-size: 10px;
    text-decoration: underline;
}
.firstsection {
    padding-bottom: 64px;
    margin-left: 11px;
    width: 95%;
}
.navright {
    padding-top: 16px;
    padding-left: 6px;
}
img.tick {
    height: 32px;
    width: 32px;
    padding-left: 2%;
}
.forthsectionh13 {
    height: 23px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.12px;
    line-height: 25px;
    padding-left: 24px;
}
.forthsectionh15 {
    height: 23px;
    color: #41434C;
    font-family: Poppins;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.12px;
    line-height: 25px;
     padding-left: 24px;
}
.trucklogo {
    height: 45px;
    width: 55px;
    padding-right: 10px;
}
}